/* Center-aligned the container on the page with a defined width*/
.container{
    text-align: center;
    margin: 80px auto;
    width: 60%;
}
   
h1, h3{
    margin: 30px;
}

/* Created this class that will be used dynamically to display and hide the content within the container*/
.hide{
    display: none;
}

/*Styled the entire div related to question page for better user experience */
.question-row{
    font-size: 24px;
    text-align: left;
}

/*Styled the options to improve their look and feel*/
li{
    font-size: 18px;
    margin: 20px;
    background-color: lightseagreen;
    padding-left: 10px;
    max-width: 55%;   
}

/*Custom-styled the nav-like header component on the top of the page*/
.right-nav, .nav-link{
    margin:8px 15px;
    font-size:17px;
    color: #007bff;
    font-weight: 600;
}

button{
    margin: 20px;
}